<%= component_controller do %>
  <h1 class="title">
    <%= @title %>
  </h1>
  <p class="subtitle">
    <%= subtitle %>
  </p>

  <%= content %>

  <div class="tabs">
    <ul>
      <% @components.each do |component| %>
        <%= reflex_tag :select_component, :li, nil, class: component_class(component), data: { component: component } do %>
          <a>
            <%= component.humanize %>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= render(ExampleCodeComponent.with_collection(@components, selected: @selected_component)) %>
<% end %>
