<%= component_controller do %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <%= @title %>
        </h1>
        <p class="subtitle">
          <%= subtitle %>
        </p>
      </div>
    </div>
  </section>

  <%= content %>

  <div class="tabs">
    <ul>
      <% @components.each do |component| %>
        <%= reflex_tag :select_component, :li, nil, class: component_class(component), data: { component: component } do %>
          <a>
            <%= component.humanize %>
          </a>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= render(ExampleCodeComponent.with_collection(@components, selected: @selected_component)) %>
<% end %>
