<%= component_controller(class: "level") do %>
  <div class="level-left  is-expanded">
    <div class="level-item">
      <label class="checkbox">
        <%= reflex_tag :toggle_completed, :input, nil, type: "checkbox", checked: @todo.completed %>
      </label>
    </div>
    <div class="level-item">
      <% if @editing %>
        <div class="field has-addons mb-0">
          <div class="control is-expanded">
            <%= reflex_tag "input->handle_name_change", :input, nil, value: @todo.name, class: "input is-rounded" %>
          </div>
          <div class="control">
            <%= reflex_tag :commit_edit, :button, type: "button", class: "button is-info is-rounded" do %>
              <span class="icon">
                <i class="fas fa-save"></i>
              </span>
            <% end %>
          </div>
          <div class="control">
            <%= reflex_tag :end_edit, :button, class: "button", type: "button" do %>
              <span class="icon">
                <i class="fas fa-times"></i>
              </span>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= todo_name(@todo) %>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="buttons has-addons">
        <%= reflex_tag :begin_edit, :button, class: "button is-info" do %>
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
        <% end %>
        <%= reflex_tag :delete, :button, class: "button is-danger" do %>
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
