<%= component_controller do %>
  <div class="box">
    <form data-reflex="submit->TodosComponentReflex#add" data-key="<%= key %>">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input
            type="text"
            class="input is-rounded"
            placeholder="What needs to be done?"
            data-reflex="input->TodosComponentReflex#handle_name_change"
            data-key="<%= key %>"
            name="name"
            value="<%= @current_todo.name %>"
          >
        </div>
        <div class="control">
          <%= tag.button('Add',
              type: "submit",
              class: "button is-info",
              disabled: @current_todo.name.empty?
          ) %>
        </div>
      </div>
    </form>
  </div>
  <div class="box todo-list">
    <% if filtered_todos.empty? %>
      <div class="level">
        <div class="level-item">
          <p class="is-size-6">
            <%= no_todos_text %>
          </p>

        </div>
      </div>
    <% end %>
    <% filtered_todos.each do |todo| %>
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <%= todo_name(todo) %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <label class="checkbox">
              <%= tag.input(
                      type: "checkbox",
                      data: {
                          reflex: "click->TodosComponentReflex#toggle_completed",
                          key: key,
                          id: todo.id
                      },
                      checked: todo.completed
                  )
              %>
            </label>
          </div>
        </div>
      </div>
    <% end %>
    <div class="level todo-info">
      <div class="level-left">
        <div class="level-item">
          <p><%= pluralize(active_todos.count, 'item') %> left</p>
        </div>
      </div>
      <div class="level-item">
        <%= tags %>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= tag.button('Clear completed',
                  type: "button",
                  class: "button is-rounded",
                  data: {
                      reflex: "click->TodosComponentReflex#clear",
                      key: key
                  },
                  disabled: completed_todos.empty?
              )
          %>
        </div>
      </div>
    </div>
  </div>

<% end %>
