<%= component_controller do %>
  <%= render(CreateTodoComponent.new) %>
  <div class="box todo-list">
    <% if filtered_todos.empty? %>
      <div class="level">
        <div class="level-item">
          <p class="is-size-6">
            <%= no_todos_text %>
          </p>
        </div>
      </div>
    <% end %>
    <%= render(TodoComponent.with_collection(filtered_todos)) %>
    <div class="level todo-info">
      <div class="level-left">
        <div class="level-item">
          <p><%= pluralize(active_todos.count, 'item') %> left</p>
        </div>
      </div>
      <div class="level-item">
        <%= tags %>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= tag.button('Clear completed',
                  type: "button",
                  class: "button is-rounded",
                  data: {
                      reflex: "click->TodosComponentReflex#clear",
                      key: key
                  },
                  disabled: completed_todos.empty?
              )
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
